<p>
	Smut happens. If you have something against erotic literature, leave now. If
	not, then enjoy the random passages inspired by longing, boredom, or good 
	times.
</p>
<% 
function sortByDate(object) {
	var dateAvailable = []
	for(idx in object) {
		if("date" in object[idx]){
			var d = object[idx].date
			dateAvailable.push({date: d, key: idx})
		}
	}
	
	dateAvailable.sort(function(a,b){
		return parseInt(Date.parse(b.date)) - parseInt(Date.parse(a.date))
	})
	return dateAvailable
}
var sortKeys = sortByDate(public.writing.smut._data)
for(var idx in sortKeys){ 
	var slug = sortKeys[idx].key
	%>
	<% if(slug != "index") {%>
	<div class="outside-block">
		<div class="blocks">
  			<h3><a href="<%= slug %>"><%= public.writing.smut._data[slug].title %></a></h3>
  		</div>
  	</div>
	<% }; %>  	
<% }; %>