
Blog
-----------------------------------------------------------------------

<% for(var slug in public.blog._data){ %>
            <p>
                <h4><a href="/blog/<%= slug %>"><%= public.blog._data[slug].title %></a></h4>
            </p>
<% }; %>


<script type="text/javascript">
function blogPaginate(){
    var articles = [];
    for( post, slug in public.blog._data){
        post.slug = slug
        articles.push(public.blog._data[slug])
    }
    var prev = false
    var next = false
    for (var i = articles.length - 1; i >= 0; i--) {
        var article = articles[i]
        if(article.slug == current.source){
            next = articles[i+1]
            prev = articles[i-1]
        }
    };
}
</script>
