<p>
	Narrations are small stories. Typically first person, about my day to
	day experiences or day-dreams.
</p>
<% for(var slug in public.narrations._data){ %>
	<div class="outside-block">
		<div class="blocks">
  			<h3><a href="<%= slug %>"><%= public.narrations._data[slug].title %></a></h3>
  		</div>
  	</div>
<% }; %>