
<% for(var slug in public.writing.narrations._data){ %>
	<% if(slug != "index") {%>
	<div class="outside-block">
		<div class="blocks">
  			<h3><a href="<%= slug %>"><%= public.writing.narrations._data[slug].title %></a></h3>
  		</div>
  	</div>
  	<% }; %>
<% }; %>