@media only screen and (max-width: 1260px), only screen and (max-device-width: 1260px) {
	div[name="writing"]{
		ul{
			.non-essential-1260 {
				display: none;
			}	
		}
	}
	
}

@media only screen and (max-width: 1080px), only screen and (max-device-width: 1080px) {
	div[name="writing"]{
		ul{
			.non-essential-1080 {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 920px), only screen and (max-device-width: 920px) {
	html{
		padding-left: 0;
	}
	div[name="writing"]{
		ul{
			.non-essential-920 {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 760px), only screen and (max-device-width: 760px) {
	nav {
		width: 20%;
	}
	#content {
		width: 70%;
	}
	div[name="writing"]{
		ul{
			.non-essential-760 {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
	.non-essential-mobile {
		width: 100%;
	}
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	.non-essential-mobile {
		display: none;
	}
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	html {
		padding-left: 0;
	}
	#content {
		width: 100%;
	}
	nav {
		width: 100%;
		ul {
			li {
				width: 100%;
				line-height: 42px;
				text-align: center;
				font-size: 24px;
				a {
					display: block;
					padding-top: 10px;
					padding-bottom: 10px;
					width: 100%;
					span {
						display: inline;
					}
					img {
						vertical-align: middle;
						float: left;
					}
				}
			}
		}
	}
}