@bgColor: #eee;

body{
	background-color: #bgColor;
	width: 80%;
	margin: 0 auto;
}

header{
	width: 100%;
	nav{
		ul{
			list-style: none;
			li{
				padding: 5px;
				display: inline-block;
				a{
					display: block;
					img{
						margin-right: 1em;
						vertical-align: middle;
						width: 32px;
						height: 32px;
						border-radius: 15px;
					}
				}
			}
		}
	}
}