<p>
	<% if(current.source != "index") {%>
	<%- description %>
	<% } %>
</p>
<% for(var slug in public.writing.poetry._data){ %>
	<div class="outside-block">
		<div class="blocks">
  			<h3><a href="<%= slug %>"><%= public.writing.poetry._data[slug].title %></a></h3>
  		</div>
  	</div>
<% }; %>