<!DOCTYPE html>	
<html>
	<head>
		<meta name="description" content="Ethan Eldridge's personal website"/>
		<meta name="keywords" content="Ethan,Eldridge,Joachim,Programming"/>
		<meta charset=utf-8 />
  		<title> {% if page.title %} {{ page.title }} | {% endif %} Ethan Eldridge </title>
  		<link rel="stylesheet" href="/css/style.css" />
  		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

		<!--Place Analytics Here -->
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-43866715-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>
	<body>

	<h1 id="huge">Ethan Joachim Eldridge: A Programmer.</h1>

	<ol>
		<li><a href="/index.html">Home</a></li>
		<li><a href="https://github.com/EJEHardenberg">Github</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/projects">Projects</a></li>
		<li><a href="/resume">Resume</a></li>
	</ol>


