<!DOCTYPE html>	
<html>
	<head>
		<meta name="description" content="Ethan Eldridge's personal website"/>
		<meta name="keywords" content="Ethan,Eldridge,Joachim,Programming"/>
		<meta charset=utf-8 />
  		<title> {% if page.title %} {{ page.title }} | {% endif %} Ethan Eldridge </title>
  		<link rel="stylesheet" href="/css/style.css" />

		<!--Place Analytics Here -->
	</head>
	<body>

	<h1 id="huge">Ethan Joachim Eldridge: A Programmer.</h1>

	<ol>
		<li><a href="/index.html">Home</a></li>
		<li><a href="https://github.com/EJEHardenberg">Github</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/projects">Projects</a></li>
		<li><a href="/resume">Resume</a></li>
	</ol>


