@import "base.less";
@import "nav.less";

@bgColor1: #28CC00;
@bgColor2: #2CFF46;
@bgColor3: #FF1000;
@bgColor4: #995E3D;
@bgColor5: #CC5614;

html {
	background-color: #fff;
	text-shadow: 0px 0px 3px white;
	
}

header {
	
}

h1,h3,p,blockquote,pre,a {
	.NormalFont;
	.NormalFontWeight;
}

h1 {
	font-size: 23px;
	.HeaderFontWeight;
}
h2 {
	font-size: 20px;
	.HeaderFontWeight;
}
h3 {
	font-size: 17px;
	.HeaderFontWeight;
}
p {
	font-size: 14px;
}
blockquote {
	font-size: 17px;	
}
pre {
	font-size: 11px;	
}

div[name="cooking"]{			

}

div[name="posts"]{

}

div[name="writing"]{
	ul{
		display: inline-block;
	}
}

@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
	div[name="writing"]{
		ul{
			.non-essential-960 {
				display: none;
			}	
		}
	}
	
}

@media only screen and (max-width: 775px), only screen and (max-device-width: 775px) {
	div[name="writing"]{
		ul{
			.non-essential-775 {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 660px), only screen and (max-device-width: 660px) {
	div[name="writing"]{
		ul{
			.non-essential-660 {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 560px), only screen and (max-device-width: 560px) {
	div[name="writing"]{
		ul{
			.non-essential-560 {
				display: none;
			}
		}
	}
}