<h1 id="huge">Ethan Joachim Eldridge: A Programmer.</h1>

<ol>
	<li><a href="/index.html">Home</a></li>
	<li><a href="https://github.com/EJEHardenberg">Github</a></li>
	<li><a href="/write">Writing</a></li>
	<li><a href="/projects">Projects</a></li>
	<li><a href="/resume">Resume</a></li>
	<li><a href="//ejehardenberg.github.io/cooking">Cooking</a></li>
</ol>


