<dl id="projects-list">
	<% 
	for(var item in projects){ %>
		<dt>
			<%= projects[item].title %>
			<span>
				<%= projects[item].period %>
			</span>
		</dt>
		<dd>
			<p>
				<%= projects[item].description %>
			</p>
			<p>
				<%- projects[item].references %>
			</p>
		</dd>
	<% }; %>
</dl>