<%
	var articles = [] 

	for(var slug in public.blog._data){ 
		public.blog._data[slug].slug = slug
		articles.push(public.blog._data[slug])
	};

	var j = 0;
	for ( var i = articles.length - 1; i >= 0; i--) {
		if(j < 5 ){
			var article = articles[i] %>
		<h2><a href=<%= article.slug %>><%= article.title %></a><sup class="floatright"><%= article.date %></a><sup></h2>
		<% } j++ %>
	<% };	%>