
html{
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E2DBFA 100%); /* IE10 Consumer Preview */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E2DBFA 100%); /* Mozilla Firefox */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #E2DBFA 100%); /* Opera */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E2DBFA)); /* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E2DBFA 100%); /* Webkit (Chrome 11+) */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #E2DBFA 100%); /* W3C Markup, IE10 Release Preview */ 
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}
body{
	width: 70%;
	margin-left: 10%;
	padding-left: 5%;
	margin-right: 10%;
	padding-right: 5%;
	margin-top: 0px;
	padding-top: 2%;
	margin-bottom: 0px;
	padding-bottom: 2%;
	border-left-width: thick;
	border-right-width: medium;
	border-color: black;
	border-left-style: solid;
	border-right-style: solid;
	background-image: linear-gradient(bottom, rgb(143,199,255) 0%, rgb(229,251,255) 61%);
	background-image: -o-linear-gradient(bottom, rgb(143,199,255) 0%, rgb(229,251,255) 61%);
	background-image: -moz-linear-gradient(bottom, rgb(143,199,255) 0%, rgb(229,251,255) 61%);
	background-image: -webkit-linear-gradient(bottom, rgb(143,199,255) 0%, rgb(229,251,255) 61%);
	background-image: -ms-linear-gradient(bottom, rgb(143,199,255) 0%, rgb(229,251,255) 61%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(143,199,255)),
		color-stop(0.61, rgb(229,251,255))
	);
}
#nav{
	text-align: center;
	list-style-type: none;
}
#nav li{
	display: inline-block;
	width: 20%;
	background-image: linear-gradient(bottom, rgb(143,199,255) 0%, rgb(229,251,255) 31%);
	background-image: -o-linear-gradient(bottom, rgb(143,199,255) 0%, rgb(229,251,255) 31%);
	background-image: -moz-linear-gradient(bottom, rgb(143,199,255) 0%, rgb(229,251,255) 31%);
	background-image: -webkit-linear-gradient(bottom, rgb(143,199,255) 0%, rgb(229,251,255) 31%);
	background-image: -ms-linear-gradient(bottom, rgb(143,199,255) 0%, rgb(229,251,255) 31%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(143,199,255)),
		color-stop(0.31, rgb(229,251,255))
	);

}
#nav li:hover{
	cursor: pointer;
	opacity: .5;
 	background-image: linear-gradient(bottom, rgb(229,251,255) 0%, rgb(143,199,255) 51%);
	background-image: -o-linear-gradient(bottom, rgb(229,251,255) 0%, rgb(143,199,255) 51%);
	background-image: -moz-linear-gradient(bottom, rgb(229,251,255) 0%, rgb(143,199,255) 51%);
	background-image: -webkit-linear-gradient(bottom, rgb(229,251,255) 0%, rgb(143,199,255) 51%);
	background-image: -ms-linear-gradient(bottom, rgb(229,251,255) 0%, rgb(143,199,255) 51%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(229,251,255)),
		color-stop(0.51, rgb(143,199,255))
	);
    transition: opacity,background 1s ease-in-out;
	-moz-transition: opacity,background 1s ease-in-out;
	-webkit-transition: opacity,background 1s ease-in-out;
}
#nav li a{
	display: block;
}pre{
	background-color: #f0ffff;
}