<section>
	<ul>
		<% 
		for( item in public.writing.political._data){
			if(item == "index") continue
			var thought = public.writing.political._data[item]
			%>
			<li class="thought">
				<a href="<%= item %>"><%= thought.title %></a>
			</li>
			<%
		}
		%>
	</ul>
</section>