<section>
	<div>
	<% 
	for( item in public.writing.political._data){
		if(item == "index" || item == "disclaimer") continue
		var thought = public.writing.political._data[item]
		%>
		<a class="thought" href="<%= item %>"><%= thought.title %></a>
		<%
	}
	%>
	</div>
</section>