<nav>
	<ul>
		<% for(var slug in public._data){ 
			if(slug != "404" && slug != 'Sitemap'){ %>
			<li>
				<a href="/<%= slug %>">
					<span><%= public._data[slug].navtitle %></span>
				</a>
			</li>
		<%  }
		}; %>
		<li>
			<a href="/writing/political">
				<span>Opinion</span>
			</a>
		</li>
		<li>
			<a href="https://github.com/EdgeCaseBerg">
				<span>Github</span>
			</a>
		</li>
		<li>
			<a href="http://www.linkedin.com/profile/view?id=151414806">
				<span>LinkedIn</span>
			</a>
		</li>
	</ul>
</nav>
